/* Universal styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

/* Global Styles */

.txt-primary {
    color: #27272799;
    font-size: 18px;
    margin: 20px 0;
}

.btn-primary {
    background: #E55473;
    font-size: 20px;
    color: #FFF;
    padding: 20px 43px;
    border-radius: 8px;
    gap: 10px;
    border: none;
    margin: 20px 0;
}

.btn-primary:hover {
    background: #cf8292;
    transition-duration: 2s;
}

.section-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

/* Header section  */

header {
    background-color: #E554731A;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 130px 0 130px;
    margin-bottom: 180px;
}

.banner-title {
    color: #272727;
    font-size: 70px;
    font-weight: 800;
}


/* Feature flowers section */

.feature-container {
    padding: 0 130px;
    text-align: center;
    margin-bottom: 180px;
}

.feature-items--container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-items: baseline;

}

.feature-item>img {
    width: 210px;
    position: relative;

}

.item-01 {
    background-color: #a721621a;
    border-radius: 300px 300px 0 0;
    margin-bottom: 10px;
    overflow: hidden;
    width: 350px;
    max-width: 100%;
    height: 400px;
    object-fit: contain;
}


.item-02 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    margin-bottom: 10px;
}



.item-03 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin-bottom: 10px;
    overflow: hidden;
    width: 350px;
    max-width: 100%;
    height: 400px;
    object-fit: contain;
}


.item-name {
    color: #272727;
    font-size: 24px;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

/* Services section */

.services-container {
    display: flex;
    justify-content: space-around;
    text-align: center;

    margin: 0 130px;
    padding: 86px 0;
    border-radius: 8px;
    background: #2727270d;
    margin-bottom: 128px;
}

/* Hot deals section */

.deals-container {
    background: rgba(229, 84, 115, 0.05);
    padding: 60px 130px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 128px;

    text-align: center;
}

.portion-color {
    color: #E55473;
}

/* Instagram section styles */

.instagram-container {
    margin-bottom: 128px;
    padding: 0 130px;

    text-align: center;

}

.instagram-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}

.instagram-images img {
    width: 250px;
}

.newsletter-container {
    margin-bottom: 128px;

    margin: 0 130px;
    text-align: center;
    padding: 121px 150px;

    background-image: url(/assets/rectangle\ 9.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* Feedback section */

.feedback-container {
    margin-bottom: 128px;
    background: #F5F5F5;

    display: flex;
    text-align: center;
    justify-content: space-between;
}

.feedback-title {
    margin: 50px 0;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
}

.feedback-cards {
    padding: 10px 50px;
}

.feedback-cards:first-child {
    border: 0;
}

/* .feedback-cards:last-child{
    border: 0;
} */

.feedback-cards {
    border-left: 1px solid #000000;
    padding: 50px;
}

.card-title {
    margin: 20px 0;
    font-weight: 800;
    font-size: 22px;
}

.feedback {
    font-size: 20px;
    margin: 10px 0;
}

.customer-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.newsletter-input {
    background: #FFF;
    border-radius: 8px;
    padding: 25px 5px;
    width: 50%;
    border: 0;
    margin-right: 20px;
}



/* Footer styles */

.footer-continer {
    background: #111010;
    text-align: center;
    color: #FFF;

    padding: 128px 0;
}

.footer-txt {
    color: #ffffffe6;
    font-size: 18px;
    padding: 24px 0;
}

.footer-small-txt {
    color: rgba(255, 255, 255, 0.4);
}